@font-face {
  font-family: 'Cabin-Bold';
  src: local('Cabin-Bold'),
    url('./fonts/Cabin/static/Cabin/Cabin-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin-Medium';
  src: local('Cabin-Medium'),
    url('./fonts/Cabin/static/Cabin/Cabin-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin-Regular';
  src: local('Cabin-Regular'),
    url('./fonts/Cabin/static/Cabin/Cabin-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cabin-SemiBold';
  src: local('Cabin-SemiBold'),
    url('./fonts/Cabin/static/Cabin/Cabin-SemiBold.ttf') format('truetype');
}

:root {
  font-family: 'Cabin-Regular', Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  line-height: 1.5;
  color-scheme: light dark;
  color: #333;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #003545;
  --secondary-color: #3e98a0;
  --third-color: #3c6562;
  --table-title-section: hsl(0, 0%, 90%);
  --white-color: #ffffff;
  --black-color: #000000;
  --table-border-color: hsl(210, 14%, 89%);
  --table-cell-color: #f5f5f5;
  --primary-button: #0069d9;
  --secondary-button: #5a6268;
  --success-button: #218838;
  --danger-button: #c82333;
  --warning-button: #e0a800;
  --info-button: #138496;
  --header-bs: 0px 2px 4px 0px rgba(0, 0, 0, 1);
  --sidebar-bs: 0px 2px 0px 0px rgba(0, 0, 0, 1);
  --input-bs:0px 0px 4px #4195fc;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
