:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #003545;
  --secondary-color: #3E98A0;
  --third-color: #3c6562;
  --primary-color-border: #00454a;
  --table-doc-color: #edf1d6;

  --header-bs: 0px 10px 30px 3px rgba(0, 0, 0, 0.5);
  --sidebar-bs: 10px 0px 30px 3px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
